@font-face {
    font-family: "EA Font";
    src: url(EASPORTS15.ttf);
}

.EA-Font {
    font-family: "EA Font";
    font-size: 60px;
    color: white;
    text-decoration: none;
}
.EA-Font-small {
    font-family: "EA Font";
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.back {
    background-image: url('../images/backgrounds/dark2.jfif');
    background-attachment: fixed;
    background-size: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.table-data {
    background-color: whitesmoke;
    width: 100%;
    border-radius: 5px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 80%;
    align-content: center;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.rounded {
    border-radius: 50%;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button {
    border-radius: 30px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
    cursor:pointer;
    height: 100px;
}

.foot-card-text {
    font-family: "DIN Pro";
    font-size:30px;
    font-weight: bold;
}
.foot-card-text-white {
    font-family: "DIN Pro";
    font-size: 30px;
    font-weight: bold;
    color:white;
}